In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
p_in = Path('/home/matthias/monkey/MC-FairMOT_mt/src/data/explorationroom_largest_sampled.val')
p_pose_in = Path('/home/matthias/monkey/MC-FairMOT_mt/src/data/explorationroom_largest_sampled-pose.val')

In [3]:
df = pd.DataFrame({'file_position':pd.Series(dtype='int'), 'monkey':pd.Series(dtype='str'), 'recording':pd.Series(dtype='str'), 'camera':pd.Series(dtype='str'), 'frame':pd.Series(dtype='int'), 'pose':pd.Series(dtype='int')})

with p_in.open('r') as img_f:
    with p_pose_in.open('r') as pose_f:
        for i, (img_path, pose) in enumerate(zip([x.rstrip() for x in img_f.readlines()], [x.rstrip() for x in pose_f.readlines()])):
            # print(i, img, pose)
            p_img = Path(img_path)
            img_n = p_img.stem
            # following does not work! border case: recordings including "M1-2" in name. M1-2 is appended to recording name by "_", in that case it's part of the name...
            # vals = img_n.split(sep='_')
            vals = [i, img_n[0:3], img_n[4:img_n.find('cam')-1], *img_n.split(sep='_')[-2:], pose]
            # contains: [name, recording, camera, frame]
            df.loc[len(df.index)] = vals
            
df

     file_position monkey         recording       camera  frame pose
0                0    hum     20092021_M1-1  cam19415032   8225    0
1                1    hum     21092021_M1-1  cam19415032  64715    0
2                2    hum     21092021_M1-2  cam19415032  21805    0
3                3    hum    23092021_SMA-2  cam19415032  32200    0
4                4    hum  22092021_PMd-1_2  cam19415032  23240    0
..             ...    ...               ...          ...    ...  ...
345            345    luk    27082021_PMd-2  cam21013369   3920    4
346            346    luk    27082021_PRR-1  cam21013369  46270    4
347            347    luk    27082021_PRR-1  cam21013369  45850    4
348            348    luk    27082021_PMd-2  cam21013369   5285    4
349            349    luk     27082021_M1-1  cam21013369   2135    4

[350 rows x 6 columns]

In [9]:
cam_names = df['camera'].unique().tolist()
cam_names

['cam19415032', 'cam19415034', 'cam19415037', 'cam19415039', 'cam21013369']

In [15]:
for i, cam in enumerate(cam_names):
    df_cam = df.loc[df.camera==cam]
    p_out = Path(f'/home/matthias/monkey/MC-FairMOT_mt/src/data/explorationroom_largest_sampled_{cam}.val')
    p_pose_out = Path(f'/home/matthias/monkey/MC-FairMOT_mt/src/data/explorationroom_largest_sampled_{cam}-pose.val')
    with p_out.open('a') as img_p:
        with p_pose_out.open('a') as pose_p:
            for index, row in df_cam.iterrows():
                p_img = Path('/media/hdd2/matthias/datasets/explorationroom_largest/validation/images/')
                p_img = p_img / (row.monkey + '_' + row.recording + '_' + row.camera + '_' + row.frame + '.png')
                pose = row.pose
                
                img_p.write(str(p_img)+'\n')
                pose_p.write(str(pose)+'\n')

# ignore everything below

In [17]:
cam = df.groupby('camera')
cam.pose.count()

camera
cam19415032    75
cam19415034    75
cam19415037    50
cam19415039    75
cam21013369    75
Name: pose, dtype: int64

In [7]:
df.filter('camera')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[350 rows x 0 columns]